              html {
                      -webkit-text-size-adjust: 100%;
                      -moz-text-size-adjust: 100%;
                      -ms-text-size-adjust: 100%;
                      font-family: 'Montserrat', 'Arial Black', sans-serif;
                      font-size: 18px;
}

              h1 {
                      font-size: 5em;
                      font-weight: normal;
                      color: #F0F0F0;
                      text-transform: uppercase;
                      text-align: center;
                      margin-top: 1em;
                      margin-bottom: -1em;
}

              h2 {
                      font-size: 1em;
                      font-weight: bold;
                      color: #333;
                      text-transform: uppercase;
                      text-align: center;
}

              h2:hover {
                      color: #888;
}

              h3 {
                      font-size: .8em;
                      font-weight: normal;
                      color: #333;
                      text-align: center;
                      z-index: 1;
}

              a {
                      color: #333;
                      text-decoration: none;
                      font-size: .7em;
}

              p {
                      color: #F0F0F0;
                      font-size: .7em;
                      text-align: center;
}

              #header {
              	      position: relative;
              	      padding-top: 250px;
                      padding-bottom: 50%;
		      height: 100%;
}
				 
              #overlay {
                      background-color: rgba(247,245,245,1);
		      width: 100%;
		      left: 0px;
		      z-index: 0;
}     
	      
	      img.background {
                      min-height: 100%;
		      min-width: 1500px;
		      width: 100%;
		      height: auto;
		      top: 0;
		      left: 0;
		      position: fixed;
                      z-index: -1;
}		
  
              #content {
                      padding-top: 15%;
		      padding-bottom: 22.5%;
		      padding-left: 25%;
		      padding-right: 25%;
                      position: relative;
                      width: 50%;
                      margin-left: auto;
                      margin-right: auto;
                      z-index: 1;
		      background: rgba(238,238,233,1);
}

	      #profilepic {
                      float: right;
                      padding-right: 25px;
}

	      #intro {
                      float: left;
		      padding-top: 0px;
}

              #content2 {
                      padding-top: 20%;
                      padding-bottom: 40%;
		      padding-left: 25%;
		      padding-right: 25%;
              	      width: 50%;
              	      margin-left: auto;
                      margin-right: auto;
                      z-index: 1;
		      background: rgba(247,245,245,1);
}

 	      div.box {
		      margin:0 0 0 0;
		      float: left;
		      clear:none;
		      width:49%;
		      height:300px;
		      border:1px;
		      text-align: center;
		      color: #F0F0F0;
		      z-index: 1;
}

              #content3 {
                      padding-top: 20%;
                      padding-bottom: 40%;
		      padding-left: 25%;
		      padding-right: 25%;
              	      width: 50%;
              	      margin-left: auto;
                      margin-right: auto;
                      z-index: 1;
		      background: rgba(247,245,245,1);
}

	      img.insert1 {
		      min-width: 1818px;
		      width: 100%;
		      height: auto;
		      top: 0;
		      left: 0;
                      z-index: 1;
}

              #footer {
                      position: relative;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      padding: 45px 50px 70px;
                      background: rgba(217,218,222,1);
                      z-index: 0;
}

              #copyright {
                      position: absolute;
                      color: #333;
                      float: left;
                      left: 35px;
}

              #links {
                      position: absolute;
                      float: right;
                      right: 35px;
                      word-spacing: 30px;
}

	      


/* media query */

        @media all and (max-width: 5000px) and (min-width: 1500px){

              h1{
                      font-size: 5em;
        }
              #profilepic {
                      float: right;
                      padding-right: 25px;
        }
	      #copyright {
                      position: absolute;
                      color: #333;
                      float: left;
                      left: 35%;
}

              #links {
                      position: absolute;
                      float: right;
                      right: 35%;
                      word-spacing: 30px;
}
}

        @media all and (max-width: 1499px) and (min-width: 100px){
	      h1{
		      font-size: 4em;
		      margin-left: auto;
		      margin-right: auto;
		      text-align: center;		  
        }
              h2{
        	      font-size: 1em;
        	      text-align: center;	
        }
              h3{
		      font-size: .75em;      
		      text-align: center;	   
        }
	      img.background {
		      min-width: 899px;
	}		  
              #content {
                      text-align: center;	
        }
	      #header {
                      padding-top: 200px;	
        }        
              #content2 {
		      padding-top: 250px;                   
        }
              #profilepic {
              	      padding-right: 0px;
          	      float: none;
                      margin-right: auto;
                      margin-left: auto; 
                      text-align: center;	
	}
              #intro {
        	      float: none;
                      margin-left: auto;
                      margin-right: auto;  
                      text-align: center;	      
        }
          	  
	      div.box {
		      margin:0 0 0 0;
		      float: left;
		      clear:none;
		      width:49%;
		      height:300px;

        }

              a {
                      font-size: .7em;
        }
       	      #footer {
                      padding: 35px 50px 60px;
                      background: #ECECEC;
		      bottom: 0;
                      z-index: 0;
        }
}

	@media all and (max-width:500px) and (min-width: 100px){
	      img.background {
		      min-width: 500px;
	}	
	      img.insert1 {
		      width: 100%;
		      min-width: 50%;
	}
	      #header {
		      padding-top: 100px;
                      padding-bottom: 80%;
	}
	      #footer {
                      padding: 15px 0px 30px;
                      background: #ECECEC;
                      z-index: 0;
        }				    
	      #copyright {
                      position: relative;
                      margin-left: auto;
                      margin-right: auto;
                      left: 0;
                      right: 0;
                      float: none;
                      text-align: center;
        }
	      #content2 {
                      text-align: center;
        }
              #links {
                      position: relative;
                      margin-left: auto;
                      margin-right: auto;
                      left: 0;
                      right: 0;
                      float: none;
                      text-align: center;
	}
	      div.box {
		      float: none;
		      width:51%;
		      margin-left: auto;
		      margin-right: auto;
		      height:200px;
		      border:1px;
		      text-align: center;
		      color: #F0F0F0;
		      z-index: 1;
	}
}

	@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi){ 
   	      
}